<div class="card-wrapper">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{user.first_name}} {{user.last_name}}</mat-card-title>
        <mat-card-subtitle>
        {{user.reseller}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        Status: {{user.status}}
      </mat-card-content>

      <img mat-card-image src="https://www.nicepng.com/png/full/120-1201448_search-radio-icon-png-blue.png" alt="user-logo">
    </mat-card>
  </div>